.container {
  max-width: 992px;
  margin: 0 auto 2rem;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

.container > div {
  display: flex;
  gap: 3.5rem;
}

.container > div aside {
  min-width: fit-content;
}

.container footer {
  margin-top: 3.5rem;
}